Dependencies/
Debug/
Release/
IceFairyEngine/Game/
IceFairyEngine/.vs/
IceFairyEngine/IceFairyEngine.VC.db
Documentation/html
*.props
*.filters
*.sdf
*.opensdf
*.png
*.sln
*.diff
*.a

# CMake stuff (currently not using)
CMakeFiles/
CMakeCache.txt
CMakeLists.txt
cmake_install.cmake
Makefile

# VSCode stuff (currently not using)
.vscode/

# Binaries
icEngine
main

# Misc
ideas.txt
*.jpg
*.png